body{
    height:100%;
    width:100%;
    background-color:#3F2860;
    font-family:Josefin Slab,serif;
  }
  h1{
    color:white;
    text-align:center;
    ;
  }
  .container{
   background-color:#80628B;
    margin-top:10px;
    font-size:20px;
    color:white;
    
  }
  
  input{
    font-size:30px;
    width:0px;
    height:40px;
  visibilty:hidden;
    color:black;
    
   
    border:0px solid transparent;
    transition:0.1s;
    margin-bottom:20px;
     background-color:#665BC4;
  }
  .x{
    width:200px;
    height:45px;
    transition:0.1s;
    background-color:white;
    border:5px solid #3F2860;
  visibility:initial;
  }
  html, body{height:100%; margin:0;padding:0}
   
  .container-fluid{
    margin-top:50px;
    display:table;
  
    
    
  }
   
  .row-fluid{ display:table-cell; vertical-align: middle;
  background-color:#665BC4;}
   
  .centering {
    float:none;
    margin:0 auto;
  }
  
  .fa{
  color:white;
    margin-top:10px;
    cursor:pointer;
  }
  .fa-search{
    float:right;
    
  }
  a{
    font-size:30px;
  font-style:bold;
   color:white;
    background-color:#3F2860;
  }
  a:hover{
    color:yellow;
  }